/* ----------- General Styling ----------- */
@font-face { 
    font-family: "carena-regular";
    src: url("./fonts/Carena-Regular.otf");
}

@font-face { 
    font-family: "quantify-bold";
    src: url("./fonts/Quantify\ Bold\ v2.6.ttf");
}

:root {
    --text-color: rgb(255, 255, 255);
    --top-background-color: #222222;
    --main-background-color: rgb(66, 83, 102);
    --input-border-color: #2a2a2a;
    --input-border-focused-color: #b83d47;
    --form-background-color: #ae3a48;
}

* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol";
    /* border: red 1px dotted; */
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* ----------- Entire Screen ----------- */

main {
    height: 100vh;
    display: flex;
    color: var(--text-color);
}

/* ----------- Sidebar ----------- */

.sidebar {
    min-height: 100%;
    min-width: 40%;
    flex-basis: 40%;
    background: url(images/large-sidebar-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.logo-strip {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    margin: auto;
}

.logo-title {
    font-size: 3rem;
    font-family: "carena-regular";
    color: white;
    position: relative;
    margin-right: 2rem;
    margin-left: 1rem;
    top: 1.3rem;
}

.logo-image {
    max-width: 7rem;
    object-fit: cover;
    position: relative; 
    margin-left: 14rem;
}

/* ----------- Main Content ----------- */

.main {
    flex-basis: 60%;
    background-color: var(--main-background-color);
}

/* ----------- Top Main Content ----------- */

.content {
    padding: 5rem 3rem 3rem;
    width: 100%;
    margin: auto;
    background-color: var(--top-background-color);
}

.main-content-p {
    margin-bottom: 2rem;
}

.content p {
    font-size: 1.3rem;
}

/* ----------- Form Content ----------- */
.form {
    margin-top: 3rem;
    margin-left: 3rem;
}

.form > h3 {
    margin: auto;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

#user-form {
    width: 50rem;
    display: flex;
    flex-wrap: wrap;
}

.form-control {
    flex-basis: 40%;
}

.form-control:nth-child(odd) {
    margin-right: 6rem;
}

.form-control:nth-child(-n+4) {
    margin-bottom: 4rem;
}

label {
    font-family: "quantify-bold";
    display: block;
    letter-spacing: 0.1rem;
    margin-left: 0.3rem;
    font-size: 1.3rem;
}

input {
    appearance: none;
    font-family: "Poppins";
    display: block;
    width: 15rem;
    height: 1.8rem;
    line-height: normal;
    border-radius: 5px;
    border: 2px solid var(--input-border-color);
    outline: none;
    font-size: 1.1rem;
    padding-left: 0.3rem;
}

input:hover, input:focus {
    appearance: none;
    border: 2px solid var(--input-border-focused-color);
    box-shadow: 3px 3px 5px var(--input-border-color);
}

.form-control label:not([for="phone-number"])::after {
    content: "*";
    color:red;
}

/* ----------- Form PseudoClasses ----------- */
.error {
    color: var(--form-background-color);
    font-family: "Poppins";
    overflow: hidden;
    margin-top: 4px;
    text-transform: none;
    font-size: 1rem;
    position: absolute;
    color: red;
}

/* ----------- Bottom Main Content ----------- */

.bottom-section {
    margin-top: 4rem;
}

button[type="submit"] {
    color: var(--text-color);
    background-color: var(--form-background-color);
    padding: 0.8rem 3.5rem;
    font-size: 1.3rem;
    border-radius: 7px;
    border: 2px solid var(--form-background-color);
    cursor: pointer;
    box-shadow: 0 5px 0 #993547;
    letter-spacing: 0.05rem;
}

button:active {
    box-shadow: none;
    transform: translateY(5px);
}

.bottom-section p {
    margin-top: 1.5rem;
    margin-left: 0.3rem;
    font-size: 1.1rem;
}

.bottom-section a {
    margin-left: 0.5rem;
    color: var(--form-background-color);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 1px 1px rgb(255, 255, 255, 0.05);
}

